apiVersion: v1
kind: Service
metadata:
  name: gatus
  labels:
    app.kubernetes.io/component: gatus
spec:
  selector:
    app.kubernetes.io/component: gatus
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
